<?xml version="1.0" encoding="UTF-8"?>
<?define publish="$(var.SimpleScannerService.ProjectDir)\publish"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="96656A28-A9EC-4589-8275-C7D6E7B0A247" Name="Simple Scanner Service" Language="1033" Version="1.2.1" Manufacturer="BJ" UpgradeCode="82158D80-0A39-4E50-9502-4947E9E475BA">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Simple.Scanner.Service" Level="1">
      <ComponentGroupRef Id="Files" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
        
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="StartupFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
        <Component>
          <Shortcut 
            Id="Autostart" 
            Directory="StartupFolder" 
            Name="SimpleScannerService" 
            Description="Simple Scanner Service"
            WorkingDirectory="INSTALLFOLDER"
            Target="[INSTALLFOLDER]SimpleScannerService.exe"/> 
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
        </Component>

    </ComponentGroup>
    
    <CustomAction Id="EXECUTE_AFTER_FINALIZE"                  
              Directory="INSTALLFOLDER"
              Return="asyncNoWait"
              ExeCommand="[INSTALLFOLDER]SimpleScannerService.exe" />

    <InstallExecuteSequence>
        <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>