<?xml version="1.0" encoding="UTF-8"?>
<?define publish="$(var.SimpleScannerService.ProjectDir)\publish"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Simple Scanner Service" Language="1033" Version="1.0.0.0" Manufacturer="BJ" UpgradeCode="0b6a79de-0292-4fb6-af0a-b25659c26c40">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Simple.Scanner.Service" Level="1">
      <ComponentGroupRef Id="Files" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <!-- Auto-start via Registry -->
      <Component Id="MerliniAssistanceAutostart">
          <RegistryValue Id="MerAs.rst" Root="HKMU" Action="write"
                   Key="Software\Microsoft\Windows\CurrentVersion\Run"
                   Name="Simple Scanner Service - by BJ Davey"
                   Value="[INSTALLFOLDER]SimpleScannerService.exe"
                   Type="string" />
      </Component>

    </ComponentGroup>

    <CustomAction Id="EXECUTE_AFTER_FINALIZE"                  
              Directory="INSTALLFOLDER"
              Return="asyncNoWait"
              ExeCommand="[INSTALLFOLDER]SimpleScannerService.exe" />

    <InstallExecuteSequence>
        <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>